In [12]:
from math import sqrt
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

import prepare
from env import user,host,password
import acquire

## Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [2]:
#cat is positive case
#dog is negative case

#FP - predicted cat, but actually a dog
#TP - predicted dog, but actually a cat

tp = 34
tn = 46
fp = 7
fn = 13

In [3]:
#instructor's code that models all questions out

print("Cat-classifier Target (where 'cat' is the positive prediction)")
print("True Positives", tp)
print("False Positives", fp)
print("False Negatives", fn)
print("True Negatives", tn)

print("-------------")

accuracy = (tp + tn) / (tp + tn + fp + fn)
recall = tp / (tp + fn)
precision = tp / (tp + fp)

print("Accuracy is", accuracy)
print("Recall is", round(recall,2))
print("Precision is", round(precision,2))

Cat-classifier Target (where 'cat' is the positive prediction)
True Positives 34
False Positives 7
False Negatives 13
True Negatives 46
-------------
Accuracy is 0.8
Recall is 0.72
Precision is 0.83

#### - In the context of this problem, what is a false positive?

In [5]:
#predicted cat but actually a dog

#### - In the context of this problem, what is a false negative?

In [6]:
#predicted dog but actually a cat

#### - How would you describe this model?

In [4]:
# a confusion matrix representing how well a model determined if the photo is a cat or dog and what the actual animal was

In [8]:
accuracy = (tp + tn) / (tp + tn + fp +fn)
accuracy

0.8

In [10]:
precision = (tp) / (tp + fp)
round(precision, 3)

0.829

## 3.You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

In [26]:
duck = pd.read_csv('c3.csv')
duck.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [28]:
duck.info

<bound method DataFrame.info of         actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]>

In [29]:
duck.value_counts()

actual     model1     model2     model3
No Defect  No Defect  No Defect  Defect       52
                                 No Defect    50
                      Defect     No Defect    47
                                 Defect       33
Defect     No Defect  Defect     Defect        5
           Defect     No Defect  Defect        4
                      Defect     Defect        3
                      No Defect  No Defect     1
           No Defect  Defect     No Defect     1
                      No Defect  Defect        1
                                 No Defect     1
No Defect  Defect     Defect     Defect        1
                      No Defect  No Defect     1
dtype: int64

Postivie = A duck is identified as defective

Negative = A duck is not identified as defective


TP : a duck is defective and does not get sold

TN : a duck is defective and does get sold

FP : a duck is not defective, but is marked defective, and does not get sold

FN : ad duck is defective, but is not marked as defective, and gets sold

### - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [30]:
duck.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [34]:
#baseline prediction - new column
duck['baseline_prediction'] = 'No Defect'

duck.head()

      actual     model1  model2     model3 baseline_prediction
0  No Defect  No Defect  Defect  No Defect           No Defect
1  No Defect  No Defect  Defect     Defect           No Defect
2  No Defect  No Defect  Defect  No Defect           No Defect
3  No Defect     Defect  Defect     Defect           No Defect
4  No Defect  No Defect  Defect  No Defect           No Defect

In [32]:

model1_accuracy = (duck.actual == duck.model1).mean()
model2_accuracy = (duck.actual == duck.model2).mean()
model3_accuracy = (duck.actual == duck.model3).mean()

In [35]:
baseline_accuracy = (duck.actual == duck.baseline_prediction).mean()

In [37]:
print(f'baseline accuracy: {baseline_accuracy:.2%}')
print(f'model one accuracy: {model1_accuracy:.2%}')
print(f'model two accuracy: {model2_accuracy:.2%}')
print(f'model three accuracy: {model3_accuracy:.2%}')

baseline accuracy: 92.00%
model one accuracy: 95.00%
model two accuracy: 56.00%
model three accuracy: 55.50%

In [38]:
#Recall is the percentage of positive cases that a model accurately predicted

subset = duck[duck.actual == 'Defect']
subset.head()

    actual     model1     model2  model3 baseline_prediction
13  Defect  No Defect     Defect  Defect           No Defect
30  Defect     Defect  No Defect  Defect           No Defect
65  Defect     Defect     Defect  Defect           No Defect
70  Defect     Defect     Defect  Defect           No Defect
74  Defect  No Defect  No Defect  Defect           No Defect

In [41]:
models = ["model1" , "model2" , "model3"]

for x in models: 
    model_recall = ( subset.actual == subset[ x ] ).mean()
    print(x, "recall:", round(model_recall * 100),"%")

model1 recall: 50 %
model2 recall: 56 %
model3 recall: 81 %

In [ ]:
#model 3 is the best for recal evaluation

### -Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [43]:
#precision evaluation


for x in models:
    subset = duck[duck [ x ] == 'Defect']
    
    #calc precision
    model_precision = (subset.actual == subset [ x ]).mean()
    
    print(x, "precision:", round(model_precision * 100), "%")

model1 precision: 80 %
model2 precision: 10 %
model3 precision: 13 %

In [ ]:
#Model 1 would be the best use for this case

## 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

#### - In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [45]:
paws = pd.read_csv('gives_you_paws.csv')
paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [48]:
paws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  5000 non-null   object
 1   model1  5000 non-null   object
 2   model2  5000 non-null   object
 3   model3  5000 non-null   object
 4   model4  5000 non-null   object
dtypes: object(5)
memory usage: 195.4+ KB

In [51]:
paws.value_counts()

actual  model1  model2  model3  model4
dog     dog     cat     cat     dog       644
                        dog     dog       632
                dog     dog     dog       625
                        cat     dog       590
cat     cat     cat     cat     dog       412
                        dog     dog       409
                        cat     cat       243
                        dog     cat       198
dog     cat     dog     dog     dog       170
                cat     dog     dog       155
                        cat     dog       150
                dog     cat     dog       144
cat     dog     cat     dog     dog       100
                        cat     dog        96
        cat     dog     dog     dog        57
        dog     cat     cat     cat        50
                        dog     cat        47
        cat     dog     cat     dog        47
dog     dog     cat     dog     cat        40
                dog     cat     cat        30
cat     cat     dog     cat     cat        29
                        dog     cat        28
dog     dog     cat     cat     cat        28
                dog     dog     cat        25
cat     dog     dog     cat     dog        12
                        dog     dog        10
dog     cat     dog     cat     cat         7
                cat     cat     cat         6
                dog     dog     cat         6
cat     dog     dog     dog     cat         4
                        cat     cat         4
dog     cat     cat     dog     cat         2
dtype: int64

In [53]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [54]:
paws['baseline_prediction'] = 'dog'
paws.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [57]:
models = ['baseline_prediction', 'model1', 'model2', 'model3', 'model4']

for x in models:
    model_accuracy = ( paws.actual == paws[ x ] ).mean()
    print(f'{x} accuracy: {model_accuracy:.2%}')

baseline_prediction accuracy: 65.08%
model1 accuracy: 80.74%
model2 accuracy: 63.04%
model3 accuracy: 50.96%
model4 accuracy: 74.26%

In [59]:
output = {}
for model in models:
    accuracy = (paws.actual == paws[model]).mean()
    output.update({model:accuracy})
    
output

{'baseline_prediction': 0.6508,
 'model1': 0.8074,
 'model2': 0.6304,
 'model3': 0.5096,
 'model4': 0.7426}

In [ ]:
# model 1 & 4 better than baseline

#### - Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [65]:
subset = paws[paws.actual == 'dog']

for x in models: 
    model_recall = ( subset.actual == subset[ x ] ).mean()
    print(x, "recall:", round(model_recall * 100),"%")

baseline_prediction recall: 100 %
model1 recall: 80 %
model2 recall: 49 %
model3 recall: 51 %
model4 recall: 96 %

In [ ]:
#phase 2

#### - Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

### Adam's work:

In [67]:
x = classification_report(paws.actual, paws.model1,
                         labels = ['cat', 'dog'],
                         output_dict = True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [69]:
print("Model 1")
pd.DataFrame(classification_report(paws.actual, paws.model1,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [71]:
print("Model 2")
pd.DataFrame(classification_report(paws.actual, paws.model2,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [73]:
print("Model 3")
pd.DataFrame(classification_report(paws.actual, paws.model3,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [74]:
print("Model 4")
pd.DataFrame(classification_report(paws.actual, paws.model4,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000